/*----------- для маленьких устройств ------------------ */
@media only screen and (max-width : 480px){
    #leftmm{
        padding-bottom: 20px;
    }
    .inner-leftmm{
        display: none;
    }
    .spoiler-leftmm{
        background: #ffffff none repeat scroll 0 0;
        width: 100%;
        overflow: hidden;
        box-shadow: 0 1px 7px 0 #222222;
        z-index: 99999;
    }
    .spoiler-leftmm-text{
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #006dcc;
        background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
        background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
        background-image: -o-linear-gradient(top, #0088cc, #0044cc);
        background-image: linear-gradient(to bottom, #0088cc, #0044cc);
        background-repeat: repeat-x;
        border: 1px solid #cccccc;
        border-radius: 4px;
        margin: 10px;
        padding: 5px;
        text-align: center;
        font-size: 1.2em;
        font-weight: bolder;
        display: block;
    }
    .spoiler-leftmm-text:hover{
        text-decoration: none;
        cursor: pointer;
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #006dcc;
        background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
        background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
        background-image: -o-linear-gradient(top, #0088cc, #0044cc);
        background-image: linear-gradient(to bottom, #0088cc, #0044cc);
        background-repeat: repeat-x;
    }
    .mobile-btn-icon{
        font-size: 2em !important;
    }
    .table td.action-block-responsive{
        width: 90% !important;
        text-align: center !important;
    }
    .table td.action-block-responsive > a{
        margin-right: 10px;
    }
    .grid-view .button-column{
        width: 90%;
    }
    .grid-view .button-column > a{
        margin-right: 10px;
    }
    #shopping-cart > div{
        width: 100%;
    }
}

@media only screen and (min-width : 481px){
    .spoiler-leftmm{
        display: none;
    }
}

/*___________ Phones до 240 px*/
@media only screen and (max-width : 240px) {

    /*____________________ общая ширина ___________________*/
    body, #wrap {
        max-width: 240px;
        min-width: 128px;
    }
    /*-- Шапка --*/
    #headm {
        min-height: 119px;
        padding-bottom: 20px;
    }
    #headm > .span3 > a > img{
        width: 90%;
    }
    #hece{
        padding-left: 15px;
        padding-right: 15px;
    }
    #hece span {
        color: #fff;
    }
    .hece-config-site{
        display: inline-block;
        width: 100%;
    }
    /*-- корзина в топе --*/
    .main-top-shop-cart{
        padding-left: 15px;
        padding-right: 15px;
    }
    #shopping-cart .cart {
        background: url(../images/theme/buk.png);
        width: 76.5%;
        margin-left: 5px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        overflow: hidden;
    }
    #cart{
        font-size: 0px;
    }
    /*-- форма поиск в топе --*/
    .select_byid_name{
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .select-byid-name-separator{
        display: block;
        height: 2px;
    }
    .search_by_id .btn-group, .search_by_name .btn-group{
        width: 100%;
    }
    #search-input-detailSearchNew{
        width: 87%;
    }
    #KatalogAvtoSearchInput{
        width: 74%;
    }
    /*________ кнопки запрос по вин ___________*/
    .main-top-shop-cart > .clear-both > a{
        display: block;
    }
    /*-- основной блок --*/
    #cenrow {
        max-width: 240px;
        min-width: 128px;
    }
    /*-- Левая колонка в основном блоке --*/
    #leftmm {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        width: 100%;
    }
    .side-banner-main{
        text-align: center;
    }
    .spoiler-leftmm{
        max-width: 240px;
    }
    /*-- Основной центральный блок --*/
    .row-fluid .rigth-main-block {
        width: 100% !important;
    }
    #content {
        margin-right: 0px;
        margin-top: 10px;
    }
    #content h1{
        font-size: 18px;
        word-break: break-all;
    }
    /*-- Прочие стили --*/
    .img-responsive{
        min-width: 100%;
    }
    .input-append, .input-prepend{
        width: 100%;
        display: block;
    }
    #quick-search-group-a, #quick-search-group{
        width: 87%;
    }
    #met{
        width: 50% !important;
    }
    .kont div{
        width: 23%;
        padding: 10px;
    }
    .kont img{
        min-width: 100%;
    }
    .legal-entity-toggle > .control-group > .controls > label{
        display: block;
        margin-left: 0px !important;
    }
    #user-messages-grid{
        overflow-x: auto;
    }
    .tires-block .span3.tires-filter{
        width: 100%;
    }
    #tires-filter-row .tires-filter-checkbox{
        width: 50%;
        display: inline-block;
    }
    #tires-filter-row .tires-filter-checkbox >input, #tires-filter-row .tires-filter-checkbox > label{
        display: inline-block;
    }
    #tires > div > div{
        width: 100%;
        margin: 0px;
    }
    #masla > div > div{
        width: 100%;
        margin: 0px;
    }
    .navbar .btn-navbar {
        background-color: transparent;
        background-image: none;
        background-repeat: no-repeat;
        border-color: transparent;
        box-shadow: none;
        color: #ffffff;
        float: right;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0;
        padding: 7px 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }
    .navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active{
        background-color: transparent;
    }
    #request-vin-form .btn, #request-wu-form .btn{
        display: block;
        width: 100%;
    }
    #items-list-view > .items > .span6{
        margin-left: 0;
    }
    .car-search-front-image{
        width: 100%;
    }
    #items-list-view > .items > .span6 > .chars{
        min-height: 120px;
        height: auto;
    }
    #tires, #masla{
        width: 100% !important;
    }
    #content > p > iframe{
        width: 200px;
    }
    iframe h1{
        font-size: 18px;
    }
    #katalog-accessories .image > a{
        display: block;
    }
    #katalog-accessories .image > a > img, #katalogAccessoriesView > .images > a > img{
        min-width: 100%;
        max-width: 100%;
    }
    #katalog-accessories .view .span1.pull-left{
        width: 100%;
    }
    .katalog-to_div{
        width: 100% !important;
    }
    #content > iframe h1{
        font-size: 18px;
    }
    .tires-block > #universal{
        width: 100% !important;
    }
    .tires-block > #universal > .items > .span4{
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    .treeTable td{
        word-break: break-all;
    }
    .search-form-order #filte > p > input{
        display: block;
        margin: 0px !important;
        width: 185px !important;
    }
    .search-form-order #filte > p > .order_change_status{
        width: 200px;
    }
    #filte .control-group .controls {
        margin-left: 5px;
    }
    .nav-tabs > li, .nav-pills > li {
        float: none;
    }
    /*-- Подвал --*/
    .footer{
        text-align: center;
    }
    .footer .secondary-menu, .footer .secondary-menu > li{
        float: none;
    }
    .footer .secondary-menu > li.active > a{
        background: #c0c0c0;
    }
    /*-- Модальное окно --*/
    .reveal-modal{
        max-width: 158px;
        left: 0;
        margin-left: 0;
    }
    .reveal-modal > #modalTitle{
        font-size: 18px;
        position: absolute;
        top: 0;
        line-height: 18px;
    }
    .reveal-modal > #modalText{
        padding-top: 20px;
    }
    .reveal-modal > #modalCartButtons > a{
        display: block;
        float: none;
        margin-top: 10px;
    }
    #modalCartButtonsSubmit > a{
        display: block;
        float: none;
        margin-top: 10px;
    }
    /*-- Таблицы --*/
    .table thead {
        display: none;
    }
    .table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-radius: 6px;
        border-top: 1px solid #ddd;
    }
    .table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right !important;
        overflow: hidden;
    }
    .table td:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }
    .action-block-responsive{
        margin: 0 auto;
    }
    .shopping-cart-form-actions > a{
        display: block;
        margin-bottom: 10px;
    }
    table.guayaquil_tablecatalog td{
        border-top: 1px solid #dddddd;
    }
    #findByParameterIdentifocation select{
        width: 220px !important;
    }
    .operation-submit{
        display: block;
        width: 100% !important;
        margin-top: 10px;
    }
}

/* Smartphones (portrait) ---- до 320  ------- */
@media only screen and (min-width : 241px) and (max-width : 320px) {

    /*____________________ общая ширина ___________________*/
    body, #wrap {
        max-width: 320px;
        min-width: 240px;
    }
    /*-- Шапка --*/
    #headm {
         min-height: 119px;
         padding-bottom: 20px;
    }
    #headm > .span3 > a > img{
        width: 90%;
    }
    #hece{
        padding-left: 15px;
        padding-right: 15px;
    }
    #hece span {
        color: #fff;
    }
    .hece-config-site{
        display: inline-block;
        width: 49%;
    }
    /*-- корзина в топе --*/
    .main-top-shop-cart{
        padding-left: 15px;
        padding-right: 15px;
    }
    #cart{
        font-size: 0px;
    }
    /*-- форма поиск в топе --*/
    .select_byid_name{
        margin-bottom: 5px;
    }
    .select-byid-name-separator{
        display: block;
        height: 2px;
    }
    .search_by_id .btn-group, .search_by_name .btn-group{
        width: 73%;
    }
    #search-input-detailSearchNew{
        width: 87%;
    }
    #KatalogAvtoSearchInput{
        width: 74%;
    }
    /*-- основной блок --*/
    #cenrow {
        /*max-width: 320px;*/
        min-width: 240px;
    }
    /*-- Левая колонка в основном блоке --*/
    #leftmm {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        width: 100%;
    }
    .side-banner-main{
        text-align: center;
    }
    /*-- Основной центральный блок --*/
    .row-fluid .rigth-main-block {
        width: 100% !important;
    }
    #content {
        margin-right: 0px;
        margin-top: 10px;
    }
    #content h1{
        font-size: 18px;
    }
    /*-- Прочие стили --*/
    .img-responsive{
        min-width: 100%;
    }
    .input-append, .input-prepend{
        width: 100%;
        display: block;
    }
    #quick-search-group-a, #quick-search-group{
        width: 87%;
    }
    #met{
        width: 50% !important;
    }
    .kont div{
        width: 23%;
        padding: 10px;
    }
    .kont img{
        min-width: 100%;
    }
    .legal-entity-toggle > .control-group > .controls > label{
        display: block;
        margin-left: 0px !important;
    }
    #user-messages-grid{
        overflow-x: auto;
    }
    .tires-block .span3.tires-filter{
        width: 100%;
    }
    #tires-filter-row .tires-filter-checkbox{
        width: 50%;
        display: inline-block;
    }
    #tires-filter-row .tires-filter-checkbox >input, #tires-filter-row .tires-filter-checkbox > label{
        display: inline-block;
    }
    #tires > div > div{
        width: 100%;
        margin: 0px;
    }
    #masla > div > div{
        width: 100%;
        margin: 0px;
    }
    .navbar .btn-navbar {
        background-color: transparent;
        background-image: none;
        background-repeat: no-repeat;
        border-color: transparent;
        box-shadow: none;
        color: #ffffff;
        float: right;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0;
        padding: 7px 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }
    .navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active{
        background-color: transparent;
    }
    #request-vin-form .btn, #request-wu-form .btn{
        display: block;
        width: 100%;
    }
    #items-list-view > .items > .span6{
        margin-left: 0;
    }
    .car-search-front-image{
        width: 100%;
    }
    #items-list-view > .items > .span6 > .chars{
        min-height: 120px;
        height: auto;
    }
    #tires, #masla{
        width: 100% !important;
    }
    #content > p > iframe{
        width: 280px;
    }
    iframe h1{
        font-size: 18px;
    }
    #katalog-accessories .image > a{
        display: block;
    }
    #katalog-accessories .image > a > img, #katalogAccessoriesView > .images > a > img{
        min-width: 100%;
        max-width: 100%;
    }
    #katalog-accessories .view .span1.pull-left{
        width: 100%;
    }
    .katalog-to_div{
        width: 100% !important;
    }
    #content > iframe h1{
        font-size: 18px;
    }
    .tires-block > #universal{
        width: 100% !important;
    }
    .tires-block > #universal > .items > .span4{
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    /*-- Подвал --*/
    .footer{
        text-align: center;
    }
    .footer .secondary-menu, .footer .secondary-menu > li{
        float: none;
    }
    .footer .secondary-menu > li.active > a{
        background: #c0c0c0;
    }
    /*-- Модальное окно --*/
    .reveal-modal{
        max-width: 240px;
        left: 0;
        margin-left: 0;
    }
    .reveal-modal > #modalTitle{
        font-size: 18px;
        position: absolute;
        top: 0;
        line-height: 18px;
    }
    .reveal-modal > #modalText{
        padding-top: 20px;
    }
    .reveal-modal > #modalCartButtons > a{
        display: block;
        float: none;
        margin-top: 10px;
    }
    /*-- Таблицы --*/
    .table thead {
        display: none;
    }
    .table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-radius: 6px;
        border-top: 1px solid #ddd;
    }
    .table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right !important;
        overflow: hidden;
    }
    .table td:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }
    .action-block-responsive{
        margin: 0 auto;
    }
    .shopping-cart-form-actions > a{
        display: block;
        margin-bottom: 10px;
    }
    table.guayaquil_tablecatalog td{
        border-top: 1px solid #dddddd;
    }
    #findByParameterIdentifocation select{
        width: 220px !important;
    }
    .operation-submit{
        display: block;
        width: 100% !important;
        margin-top: 10px;
    }
}

/* ----- от 321 до 480  ------ */
@media only screen and (min-width : 321px) and (max-width: 480px) {
    /*____________________ общая ширина ___________________*/
    body, #wrap {
        max-width: 480px;
        min-width: 360px;
    }
    /*-- Шапка --*/
    #headm {
        min-height: 119px;
        padding-bottom: 20px;
    }
    #headm > .span3 > a > img{
        width: 90%;
    }
    #hece{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.2em;
    }
    #hece span {
        color: #fff;
    }
    .hece-config-site{
        display: inline-block;
        width: 49%;
    }
    /*-- корзина в топе --*/
    .main-top-shop-cart{
        padding-left: 15px;
        padding-right: 15px;
    }
    #cart{
        font-size: 1em;
    }
    /*-- форма поиск в топе --*/
    .select_byid_name{
        margin-bottom: 5px;
    }
    .select-byid-name-separator{
        display: block;
        height: 2px;
    }
    .search_by_id .btn-group, .search_by_name .btn-group{
        width: 73%;
    }
    #search-input-detailSearchNew{
        width: 87%;
    }
    #KatalogAvtoSearchInput{
        width: 74%;
    }
    /*-- основной блок --*/
    #cenrow {
        /*max-width: 320px;*/
        min-width: 360px;
    }
    /*-- Левая колонка в основном блоке --*/
    #leftmm {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        width: 100%;
    }
    .side-banner-main{
        text-align: center;
    }
    /*-- Основной центральный блок --*/
    .row-fluid .rigth-main-block {
        width: 100% !important;
    }
    #content {
        margin-right: 0px;
        margin-top: 10px;
    }
    #content h1{
        font-size: 18px;
    }
    /*-- Прочие стили --*/
    .img-responsive{
        min-width: 100%;
    }
    .input-append, .input-prepend{
        width: 100%;
        display: block;
    }
    #quick-search-group-a, #quick-search-group{
        width: 87%;
    }
    #met{
        width: 50% !important;
    }
    .kont div{
        width: 23%;
        padding: 10px;
    }
    .kont img{
        min-width: 100%;
    }
    .legal-entity-toggle > .control-group > .controls > label{
        display: block;
        margin-left: 0px !important;
    }
    #user-messages-grid{
        overflow-x: auto;
    }
    .tires-block .span3.tires-filter{
        width: 100%;
    }
    .tires-block > #universal{
        width: 100% !important;
    }
    .tires-block > #universal > .items > .span4{
        width: 100%;
        margin: 0px;
    }
    #tires-filter-row .tires-filter-checkbox{
        width: 50%;
        display: inline-block;
    }
    #tires-filter-row .tires-filter-checkbox >input, #tires-filter-row .tires-filter-checkbox > label{
        display: inline-block;
    }
    #tires > div > div{
        width: 100%;
        margin: 0px;
    }
    #masla > div > div{
        width: 100%;
        margin: 0px;
    }
    .navbar .btn-navbar {
        background-color: transparent;
        background-image: none;
        background-repeat: no-repeat;
        border-color: transparent;
        box-shadow: none;
        color: #ffffff;
        float: right;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0;
        padding: 7px 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }
    .navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active{
        background-color: transparent;
    }
    #request-vin-form .btn, #request-wu-form .btn{
        display: block;
        width: 100%;
    }
    #items-list-view > .items > .span6{
        margin-left: 0;
    }
    .car-search-front-image{
        width: 100% !important;
        height: auto !important;
    }
    #items-list-view > .items > .span6 > .chars{
        min-height: 120px;
        height: auto;
    }
    #items-list-view > .items > .span6 > .chars > .char{
        font-size: 1.3em !important;
    }
    #tires, #masla{
        width: 100% !important;
    }
    #content > p > iframe{
        width: 100%;
    }
    iframe h1{
        font-size: 18px;
    }
    #katalog-accessories .image > a{
        display: block;
    }
    #katalog-accessories .image > a > img, #katalogAccessoriesView > .images > a > img{
        min-width: 100%;
        max-width: 100%;
    }
    #katalog-accessories .view .span1.pull-left{
        width: 100%;
    }
    .katalog-to_div{
        width: 100% !important;
    }
    #content > iframe h1{
        font-size: 18px;
    }
    /*-- Подвал --*/
    .footer{
        text-align: center;
    }
    .footer .secondary-menu, .footer .secondary-menu > li{
        float: none;
    }
    .footer .secondary-menu > li.active > a{
        background: #c0c0c0;
    }
    /*-- Модальное окно --*/
    .reveal-modal{
        max-width: 360px;
        left: 0;
        margin-left: 0;
    }
    .reveal-modal > #modalTitle{
        font-size: 18px;
        position: absolute;
        top: 0;
        line-height: 18px;
    }
    .reveal-modal > #modalText{
        padding-top: 20px;
    }
    .reveal-modal > #modalCartButtons > a{
        display: block;
        float: none;
        margin-top: 10px;
    }
    /*-- Таблицы --*/
    .table thead {
        display: none;
    }
    .table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-radius: 6px;
        border-top: 1px solid #ddd;
    }
    .table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right !important;
        overflow: hidden;
    }
    .table td:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }
    .action-block-responsive{
        margin: 0 auto;
    }
    .shopping-cart-form-actions > a{
        display: block;
        margin-bottom: 10px;
    }
    table.guayaquil_tablecatalog td{
        border-top: 1px solid #dddddd;
    }
    #findByParameterIdentifocation select{
        width: 250px !important;
    }
    .operation-submit{
        display: block;
        width: 100% !important;
        margin-top: 10px;
    }
}

/*___________ от 481 до 640 _______________________*/
@media only screen and (min-width : 481px) and (max-width: 640px){
    /*____________________ общая ширина ___________________*/
    body, #wrap {
        max-width: 640px;
        min-width: 481px;
    }
    /*-- Шапка --*/
    #headm {
        min-height: 119px;
    }
    #headm > .span3 > a > img{
        width: 90%;
    }
    #hece{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.2em;
    }
    #hece span {
        color: #fff;
    }
    .hece-config-site{
        display: inline-block;
        width: 49%;
    }
    /*-- корзина в топе --*/
    .main-top-shop-cart{
        padding-left: 15px;
        padding-right: 15px;

        position: absolute;
        right: 0px;
        top: 30px;
        width: 60% !important;
    }
    #cart{
        font-size: 1em;
    }
    /*-- форма поиск в топе --*/
    .select_byid_name{
        margin-bottom: 5px;
    }
    .select-byid-name-separator{
        display: inline-block;
        height: 2px;
    }
    .search_by_id .btn-group, .search_by_name .btn-group{
        width: 73%;
    }
    #search-input-detailSearchNew{
        width: 87%;
    }
    #KatalogAvtoSearchInput{
        width: 74%;
    }
    /*-- основной блок --*/
    #cenrow {
        /*max-width: 320px;*/
        min-width: 480px;
    }
    /*-- Левая колонка в основном блоке --*/
    #leftmm {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        width: 36%;
    }
    .side-banner-main{
        text-align: center;
    }
    /*-- Основной центральный блок --*/
    .row-fluid .rigth-main-block {
        width: 60% !important;
    }
    #content {
        margin-right: 0px;
        margin-top: 10px;
    }
    #content h1{
        font-size: 18px;
    }
    /*-- Прочие стили --*/
    .img-responsive{
        min-width: 100%;
    }
    .input-append, .input-prepend{
        width: 100%;
        display: block;
    }
    #quick-search-group-a, #quick-search-group{
        width: 87%;
    }
    #met{
        width: 50% !important;
    }
    .kont div{
        width: 23%;
        padding: 10px;
    }
    .kont img{
        min-width: 100%;
    }
    .legal-entity-toggle > .control-group > .controls > label{
        display: block;
        margin-left: 0px !important;
    }
    #user-messages-grid{
        overflow-x: auto;
    }
    .tires-block .span3.tires-filter{
        width: 100%;
    }
    #tires-filter-row .tires-filter-checkbox{
        width: 50%;
        display: inline-block;
    }
    #tires-filter-row .tires-filter-checkbox >input, #tires-filter-row .tires-filter-checkbox > label{
        display: inline-block;
    }
    #tires > div > div{
        width: 100%;
        margin: 0px;
    }
    #masla > div > div{
        width: 100%;
        margin: 0px;
    }
    .navbar .btn-navbar {
        background-color: transparent;
        background-image: none;
        background-repeat: no-repeat;
        border-color: transparent;
        box-shadow: none;
        color: #ffffff;
        float: right;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0;
        padding: 7px 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }
    .navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active{
        background-color: transparent;
    }
    #request-vin-form .btn, #request-wu-form .btn{
        display: block;
        width: 100%;
    }
    #items-list-view > .items > .span6{
        margin-left: 0;
    }
    .car-search-front-image{
        width: 100% !important;
        height: auto !important;
    }
    #items-list-view > .items > .span6 > .chars{
        min-height: 120px;
        height: auto !important;
    }
    #items-list-view > .items > .span6 > .chars > .char{
        font-size: 1.3em !important;
    }
    #tires, #masla{
        width: 100% !important;
    }
    #content > p > iframe{
        width: 100%;
    }
    iframe h1{
        font-size: 18px;
    }
    #katalog-accessories .image > a{
        display: block;
    }
    #katalog-accessories .image > a > img, #katalogAccessoriesView > .images > a > img{
        min-width: 100%;
        max-width: 100%;
    }
    #katalog-accessories .view .span1.pull-left{
        width: 100%;
    }
    .katalog-to_div{
        width: 100% !important;
    }
    #content > iframe h1{
        font-size: 18px;
    }
    #masla div.chars{
        height: auto;
        min-height: 150px;
    }
    .tires-block > #universal{
        width: 100% !important;
    }
    .tires-block > #universal > .items > .span4{
        width: 100%;
        margin: 0;
    }
    div.best-offer div.search-row > .span8, div.best-offer div.search-row > .span3{
        width: 60%;
        float: left;
    }
    div.best-offer div.search-row > .span4{
        width: 40%;
        float: left;
    }
    div.best-offer div.search-row form{
        float: none;
        clear: both;
    }
    /*-- Подвал --*/
    .footer{
        text-align: center;
    }
    .footer .secondary-menu, .footer .secondary-menu > li{
        float: none;
    }
    .footer .secondary-menu > li.active > a{
        background: #c0c0c0;
    }
    #items-list-view > .items > .span6{
        margin-left: 0px !important;
    }
    /*-- Модальное окно --*/
    .reveal-modal{
        max-width: 360px;
        left: 0;
        margin-left: 0;
    }
    .reveal-modal > #modalTitle{
        font-size: 18px;
        position: absolute;
        top: 0;
        line-height: 18px;
    }
    .reveal-modal > #modalText{
        padding-top: 20px;
    }
    .reveal-modal > #modalCartButtons > a{
        display: block;
        float: none;
        margin-top: 10px;
    }
    #headm > .span3:first-child{
        width: 30%;
    }
    .katlogTo-item-detail{
        overflow: hidden;
    }
    /*-- Таблицы --*/
    .table thead {
        display: none;
    }
    .table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-radius: 6px;
        border-top: 1px solid #ddd;
    }
    .table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right !important;
        overflow: hidden;
    }
    .table td:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }
    /*_____ end table ______*/
    .action-block-responsive{
        margin: 0 auto;
    }
    .shopping-cart-form-actions > a{
        display: block;
        margin-bottom: 10px;
    }
    table.guayaquil_tablecatalog td{
        border-top: 1px solid #dddddd;
    }
    #findByParameterIdentifocation select{
        width: 250px !important;
    }
    .operation-submit{
        display: block;
        width: 100% !important;
        margin-top: 10px;
    }
    .form-actions{
        padding-right: 0px;
        padding-left: 0px;
    }
    .form-actions > a.btn{
        font-size: 1em;
    }
    #user-messages-grid, #wto-cars-grid{
        overflow-x: auto;
    }
    #katalog-accessories .image img{
        width: 100%;
    }
    .katalog-to_div > a{
        display: block;
    }
    .katalog-to_div > a:hover{
        text-decoration: none;
    }
}

@media only screen and (min-width : 641px) and (max-width : 768px){
    /*____________________ общая ширина ___________________*/
    body, #wrap {
        max-width: 768px;
        min-width: 641px;
    }
    /*-- Шапка --*/
    #headm {
        min-height: 119px;
    }
    #headm > .span3{
        width: 40%;
    }
    #headm > .span3 > a > img{
        width: 90%;
    }
    #hece{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.2em;
        width: 100%;
    }
    #hece span {
        color: #fff;
    }
    .hece-config-site{
        display: inline-block;
        width: 49%;
    }
    /*-- корзина в топе --*/
    .main-top-shop-cart{
        padding-left: 15px;
        padding-right: 15px;

        position: absolute;
        right: 0px;
        top: 30px;
        width: 60% !important;
    }
    #cart{
        font-size: 1em;
    }
    /*-- форма поиск в топе --*/
    .select_byid_name{
        margin-bottom: 5px;
    }
    .select-byid-name-separator{
        display: inline-block;
        height: 2px;
    }
    .search_by_id .btn-group, .search_by_name .btn-group{
        width: 73%;
    }
    #search-input-detailSearchNew{
        width: 87%;
    }
    #KatalogAvtoSearchInput{
        width: 74%;
    }
    .navbar .btn-navbar {
        background-color: transparent;
        background-image: none;
        background-repeat: no-repeat;
        border-color: transparent;
        box-shadow: none;
        color: #ffffff;
        float: right;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0;
        padding: 7px 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }
    /*-- основной блок --*/
    #cenrow {
        /*max-width: 320px;*/
        min-width: 641px;
    }
    /*-- Левая колонка в основном блоке --*/
    #leftmm {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        width: 36%;
    }
    .side-banner-main{
        text-align: center;
    }
    /*-- Основной центральный блок --*/
    .row-fluid .rigth-main-block {
        width: 60% !important;
    }
    #content {
        margin-right: 0px;
        margin-top: 10px;
    }
    #content h1{
        font-size: 18px;
    }
    /*-- Подвал --*/
    .footer{
        text-align: center;
    }
    .footer .secondary-menu, .footer .secondary-menu > li{
        float: none;
    }
    .footer .secondary-menu > li.active > a{
        background: #c0c0c0;
    }
    #items-list-view > .items > .span6{
        margin-left: 0px !important;
    }
    .side-cars-front > img{
        display: block;
    }
    .tires-block .span3.tires-filter{
        width: 100%;
    }
    #tires-filter-row .tires-filter-checkbox{
        width: 50%;
        display: inline-block;
    }
    #tires-filter-row .tires-filter-checkbox >input, #tires-filter-row .tires-filter-checkbox > label{
        display: inline-block;
    }
    #tires, #masla{
        width: 100% !important;
    }
    #tires > div > div{
        width: 100%;
        margin: 0px;
    }
    #masla > div > div{
        width: 100%;
        margin: 0px;
    }
    .cart-js-btn-add-cart{
        display: inline-block;
    }
    #content > p > iframe{
        width: 100%;
    }
    .tires-block > #universal{
        width: 100% !important;
    }
    .tires-block > #universal > .items > .span4{
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    #Filter_results .table td, #Filter_results .table th{
        word-break: break-all;
    }
    #searchData .best-offer{
        overflow: hidden;
    }
    #searchData .search-row .span8 {
        width: 65.95744680851064%;
        display: inline-block;
    }
    #searchData .search-row .span4, #searchData .search-row .span3 {
        width: 31.914893617021278%;
        display: inline-block;
    }
    /*-- Таблицы --*/
    #cart-grid > .table thead {
        display: none;
    }
    #cart-grid > .table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-radius: 6px;
        border-top: 1px solid #ddd;
    }
    #cart-grid > .table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right !important;
        overflow: hidden;
    }
    #cart-grid > .table td:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }
    /*_____ end table ______*/
}


/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    /*css code here*/
    body, #wrap {
        min-width: 768px;
        max-width: 1024px;
    }
    #cenrow {
        min-width: 768px;
    }
    #leftmm {
        margin-left: 10px;
        width: 22.9282%;
    }
    .row-fluid .span9 {
        width: 72.3094% !important;
    }
    .tires-block > #universal{
        width: 67% !important;
    }
    #universal > div > div {
        width: 100%;
        margin-left: 0;
    }
    #content {
        margin-right: 10px;
        margin-top: 10px;
    }
    #content h1 {
        font-size: 18px;
        margin: 0 0 10px;
    }
    #leftm > li > a{
        font-size: 10px;
    }
    #cart {
        font-size: 0;
    }
    .cart {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        height: 30px;
        margin-left: 1px;
        width: 182px;
    }
    #hece span {
        color: #fff;
    }
    .hece-config-site{
        display: inline-block;
        width: 49%;
    }
    .select_byid_name > #select > label{
        font-size: 1.1em;
    }
    .item-model-info{
        clear: both;
        display: block;
    }
    .img-responsive{
        min-width: 100%;
    }
    #quick-search-group-a, #quick-search-group{
        max-width: 110px;
    }
    .side-cars-front{
        padding-left: 0px;
        padding-right: 10px;
        padding-top: 15px;
    }
    #items-list-view > .items > .span6{
        width: 98.7%;
        padding: 10px;
    }
    #items-list-view > .items > .span6 > .name {
        height: auto;
        margin-bottom: 5px;
    }
    .car-search-front-image{
        width: 100%;
        overflow: hidden;
    }
    #items-list-view > .items > .span6 > .chars {
        min-height: 120px;
        height: auto;
    }
    #items-list-view > .items > .span6 > .chars > .char {
        font-size: 90%;
        font-weight: bold;
    }
    #request-get-price-form > .control-group > .controls > .span5{
        width: 100%;
    }
    #met {
        width: 49.0769% !important;
    }
    #request-vin-form input.span5, #request-vin-form textarea{
        width: 100%;
    }
    .kont div {
        width: 25%;
    }
    .navbar .btn-navbar {
        background-color: transparent;
        background-image: none;
        background-repeat: no-repeat;
        border-color: transparent;
        box-shadow: none;
        color: #ffffff;
        float: right;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0;
        padding: 7px 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }
    .navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active{
        background-color: transparent;
    }
    #request-wu-form > .control-group > .controls > .span5,
    #orders-form > .control-group > .controls > .span5,
    #adress_block > .control-group > .controls > .span5,
    #users-cars-form > .control-group > .controls > .span5,
    #user-profile-form > .control-group > .controls > .span5,
    #new-message-form > .control-group > .controls > .span5{
        width: 100%;
    }
    /*-- Таблицы --*/
    #cart-grid > .table thead, #Search-grid > .table thead {
        display: none;
    }
    #cart-grid > .table tr, #Search-grid > .table tr{
        border-bottom: 3px solid #ddd;
        display: block;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-radius: 6px;
        border-top: 1px solid #ddd;
    }
    #cart-grid > .table td, #Search-grid > .table td{
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right !important;
        overflow: hidden;
    }
    #cart-grid > .table td:before, #Search-grid > .table td:before{
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }
    /*_____ end table ______*/
    .search_the_best > .best-offer{
        width: 48.61878453038674%;
    }
    .b-brend-about .pic, .b-model-about .pic{
        display: block;
        margin: 0px;
    }
    .b-brend-about .pic, .b-model-about .pic > img{
        min-width: 100%;
    }
    .b_type_paym{
        width: 30% !important;
    }
    .b_type_paym h3{
        font-size: 1em;
    }
    .b_type_paym > div > p{
        min-height: 47px;
    }
    #web-payments-robokassa-form .span5, #feedbacks-form .span5{
        width: 100%;
    }
    .legal-entity-toggle > .control-group > .controls > label{
        display: block;
        margin-left: 0px !important;
    }
    .treeTable > tbody > tr > td{
        word-break: break-all;
    }
    .tires-filter{
        width: 30% !important;
        padding: 10px;
    }
    #tires{
        width: 67% !important;
    }
    #tires > div > div{
        width: 98.5%;
        padding: 10px;
    }
    #masla{
        width: 67% !important;
    }
    #masla > div > div{
        width: 98%;
    }
    .katalog-to_div{
        width: 49% !important;
    }
    #content > p > iframe{
        width: 100%;
    }
    #complects{
        overflow-x: auto;
    }

    #headm {
        min-height: 119px;
    }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    /*css code here*/
}


/* Samsung GALAXY Tab -------- */
@media (max-device-width: 1024px) and (orientation: landscape) {
    /*css code here*/
    .action-block-responsive > a> i{

    }
}

/* Dell Streak 7 --------- */
@media (max-device-width: 800px) {
    /*css code here*/
}

/* Motorola's Xoom -------- */
@media (max-device-width: 1280px) {
    /*css code here*/
}

/* Desktops and laptops ------ десктопы ----- */
@media only screen and (min-width : 1224px) {
    /*css code here*/
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /*css code here*/
}
