@CHARSET "UTF-8";

table.catalogs {
	border: none;
	width: 100%;
}

table.catalogs tr td {
	vertical-align: top;
}

table.guayaquil_tablecatalog {
	border-collapse: collapse;
	width: 90%;
}

table.guayaquil_tablecatalog th {
	background-color: #f5f5f5;
	padding: 4px;
	text-align: center;
}

table.guayaquil_tablecatalog tr.over td {
	background-color: #f5f5f5;
}

table.guayaquil_tablecatalog td {
	padding: 6px 0px;
	vertical-align: middle;
}
table.guayaquil_tablecatalog{
	border-top: 1px solid #dddddd;
}